<% include ./partials/header %>

<div class="container">
    <h3>Image Upload</h3>
    <form method="POST" action="/admin/upload" enctype="multipart/form-data">
        <div class="input-group">
            <label for="image">Choose a file</label>
            <input type="file" name="image" id="image" multiple>
            <select name="">
                <% expenses.forEach(expense => { %>
                <option value="<%= expense.id %>"><%= expense.name %></option>
                <%}) %>
            </select>
        </div>
        <button type="submit" class="btn btn-info">Upload</button>
        <a href="/admin/billeder" class="btn btn-primary">See list of images</a>
    </form>
</div>